@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

body, html {
  max-height: 100%;
}

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
}

header {
  background-color: #358dcc;
  background-image: radial-gradient(#358dcc, #164a6f);
  overflow: hidden;
  color: white;
  z-index: 2;
}

@keyframes aparece {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes pouso {
  from { top: -2em; }
  to { top: 0; }
}

header #topo {
  margin: 0 1%;
  text-align: center;
  animation: aparece 1000ms linear;
}

header #topo img {
  width: 12%;
}

header #topo h1 {
  font-size: 300%;
}

header #topo h2 {
  font-weight: normal;
  font-variant-caps: petite-caps;
}

header nav#menu {
  text-align: center;
  clear: both;
  background-color: #2c70a0;
  overflow: hidden;
}

header #menu ul {
  position: relative;
  margin: 0;
  padding: 0;
  animation: pouso 500ms ease, aparece 1000ms linear;
}

header li {
  list-style: none;
  display: inline-block;
  margin: auto 5%;
  font-size: 120%;
  padding: 1%;
  transition: all 100ms linear;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 100ms linear;
}

header li:hover {
  background-color: white;
  color: #2c70a0;
}

/* ---- Conteúdo ----*/

#conteudo {
  background-color: white;
}


#conteudo.home {
  background-image: url('imgs/galaxia.jpg');
  background-size: cover;
  background-position: center;
}

main, .widget {
  position: relative;
}

main {
  box-sizing: border-box;
  padding: 0 5%;
  left: 0;
  width: 80%;
  margin: 0;
  clear: none;
  margin-right: 5%;
}

aside.widget {
  right: 0;
  max-width: 20%;
  float: right;
  color: white;
  background-color: rgb(219, 137, 27);
  box-sizing: border-box;
  padding: 3% 1%;
  border-radius: 0.5em;
  margin: 2%;
  z-index: 2;
}

aside.widget #div-planetas {
  background-color: white;
  color: black;
  padding: 10%;
}

.widget > img {
  max-width: 100%;
  text-align: center;
  margin: 10% 0;
}

#div-planetas > div {
  margin: 10% 0;
}

#div-planetas select option[value=""] {
  display: none;
}

#div-planetas span.mostra-g {
  color: #2c70a0;
}

#div-planetas button {
  background-color: #2c70a0;
  color: white;
  border: 0;
  padding: 5% 10%;
}

#div-planetas hr {margin: 20% 0;}

#div-planetas #div-peso {
  text-align: center;
  margin: 0;
}

#div-peso label {
  color: rgb(219, 137, 27);
  font-size: 150%;
}

#div-peso input {
  max-width: 100%;
  height: 100%;
  background-color: white;
  font-size: 65%;
  border: 3px solid silver;
  text-align: center;
}

#div-planetas button, #div-peso input {
  border-radius: 4px;
}

header h1, main > h1, main > div.titulo h1, .widget > h1 {
  margin: 0;
}

main > h1, main div.titulo h1 {
  background-image: linear-gradient(to bottom, lightgrey 10%, white);
  color: black;
  text-align: center;
  font-size: 300%;
  padding: 5%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

main > div.titulo h1 {
  background-image: linear-gradient(to bottom, black, rgb(16, 19, 36));
  color: white;
  position: absolute;
  right: 0;
  left: 0;
}

main > div.titulo * {
  max-width: 100%;
}

main > div.titulo {
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
}

main article.bloco {
  width: 40%;
  background-color: white;
  border: 1em solid #358dcc;
  margin: 4% auto;
}

main .bloco img {
  width: 100%;
}

main .bloco div {
  padding: 5%;
}

main a:hover {
  text-decoration: underline;
  color: #358dcc;
}

main article.bloco:nth-child(2n) {
  float: left;
  clear: left;
}

main article.bloco:nth-child(2n+1) {
  float: right;
}

main img[src*="tirinha"] {
  float: right;
  /*margin-right: 10%;
  margin-bottom: 5%;*/
  margin: 0 5% 5% 3%;
}

.clear{ clear: both; color: white; }

/* ---- footer ---- */

footer {
  background-color: rgb(60, 60, 60);
  padding: 3%;
  color: white;
}

footer a {
  position: relative;
  transition: all 500ms ease-out;
}

footer a:hover::after {
  content: " ^"
}
