/* A Person's Life
 * Trabalho de Web – INF-1A – CEFET-MG
 */

/*--- Definições iniciais ---*/

@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline|Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Oxygen');

html, body {
	min-height: 100%;
}

body {
	font-family: 'Architects Daughter', cursive;
	margin: 0;
}

 /*>>> Elementos à parte do conteúdo principal <<<*/

/*--- menu lateral ---*/

div#menu-lateral {
	width: 20%;
	height: 100%;
	position: fixed;
	left: -20%;
	top: 0;
	bottom: 0;
	background-image: linear-gradient(to right, #13142c, 90%, black);
	color: white;
	transform-origin: right;
	transform: rotateY(90deg);
	padding: 2%;
	box-sizing: border-box;
	z-index: 1;
}

#menu-lateral > h2 {
	font-size: 3vw;
}

#menu-lateral #lista-opcoes {
	padding: 0;
}

#menu-lateral #lista-opcoes li {
	list-style: none;
	font-size: 2vw;
	padding: 5% 0;
	transition: all 100ms linear;
	position: relative;
	top: 0;
}

#menu-lateral #lista-opcoes li:hover {
	top: -10px;
	cursor: pointer;
}

#menu-lateral button {
	color: white;
}

#menu-lateral, #conteudo, .menu-lateral-ativo #conteudo {
	transition: all 200ms ease-out;
}

body.menu-lateral-ativo #menu-lateral {
	left: 0;
	opacity: 1;
	transform: rotateY(0);
}

body.menu-lateral-ativo #conteudo {
	left: 20%;
}

/*--- janela de informações ---*/

div#janela-info {
	background-color: floralwhite;
	max-width: 50%;
	display: none;
	opacity: 0;
	padding: 5%;
	max-height: 80%;
	overflow: auto;
}

div#janela-info, .ficha {
	margin: 5% 25%;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	border: 5px solid gray;
	box-shadow: inset 3px 3px 50px silver;
	z-index: 3;
}

#janela-info h2 {
	font-family: 'Indie Flower', cursive;
}

#janela-info h2, .ficha h2 {
	padding: 0;
	margin: 0;
	text-shadow: 2px 2px 2px lightgray;
	text-align: center;
	font-size: 3vw;
}

.bloco-criador {
	background-color: #ee8e32;
	text-align: center;
	border-radius: 3%;
	padding: 2%;
	margin: 2% auto;
	box-shadow: 2px 2px 2px silver;
	border: 5px solid #c37225;
}

.bloco-criador img {
	max-width: 30%;
	max-height: 10%;
	box-shadow: -5px 2px 5px rgb(145, 101, 16);
	float: right;
	transform-origin: left;
	animation: flutuando 1500ms linear infinite alternate;
}

.bloco-criador h3 {
	color: white;
	text-shadow: 2px 3px 4px rgb(195, 117, 21);
}

/*--- div auxiliar que cobre a tela ---*/

div#aux {
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	display: none;
	transition: all 200ms linear;
	z-index: 2;
}

#janela-info.ocupa-espaco, #menu-lateral.ocupa-espaco, #aux.ocupa-espaco {
	opacity: 1;
	display: block;
}

.escuro {
	background-color: rgba(0, 0, 0, 0.3);
	transition: all 300ms linear;
}

.clear {
	clear: both;
}

/*--- #menu-criacao-conta e #fim-de-jogo ---*/

div#menu-criacao-conta {
	background-color: rgb(149, 233, 141);
	border: 5px solid rgb(93, 173, 86);
}

#menu-criacao-conta h2 {
	margin-top: 0;
	text-align: center;
}

#menu-criacao-conta label, #menu-criacao-conta > p {
	text-decoration: underline;
}

#escolha-genero {
	display: flex;
  align-items: baseline;
  justify-content: space-around;
	margin: 4% 0;
	padding: 1%;
}

#escolha-genero img {
	min-height: 20vh;
	image-rendering: pixelated;
}

#escolha-genero > section {
	padding: 2% 4%;
	cursor: pointer;
	position: relative;
	transition: bottom 100ms ease-in;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 1em;
}

#escolha-genero > section p {
	text-align: center;
}

.selecionado {
	bottom: 20px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#botao-iniciar-jogo {
	color: green;
	box-shadow: 0px 2px 5px green;
}

#botao-recomecar {
	color: red;
	box-shadow: 0px 2px 5px red;
}

#botao-iniciar-jogo, #botao-recomecar {
	background-color: white;
	padding: 2%;
	font-family: inherit;
	font-size: inherit;
	border: none;
	border-radius: 5px;
	display: block;
	margin: 0 auto;
	cursor: pointer;
	transition: transform 100ms linear;
}

#botao-iniciar-jogo:hover, #botao-recomecar:hover {
	transform: scale(1.2);
}

div#fim-de-jogo {
	background-color: rgb(244, 83, 83);
	border: 5px solid rgb(138, 21, 10);
	display: none;
}

#menu-criacao-conta, #fim-de-jogo {
	box-sizing: border-box;
	position: absolute;
	top: 0;
	background-color: white;
	width: 80%;
	margin: 0 10%;
	padding: 5%;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	font-size: 120%;
	z-index: 3;
}

/* >>> Estilização da parte principal... <<< */

/*--- #conteudo ---*/

div#conteudo {
	position: relative;
	left: 0;
	bottom: 0;
	min-height: 100%;
	min-width: 100%;
	z-index: 2;
}

/*--- header ---*/

header {
	background-image: linear-gradient(to top, #ff8c1d, 10%, #ee8e32);
	color: white;
	padding: 1%;
	z-index: 3;
}

header span {
	text-shadow: 3px 3px 4px rgb(190, 129, 7);
	font-size: 3vw;
}

header img, .upgrade {
	cursor: pointer;
	display: inline-block;
	vertical-align: text-bottom;
	transition: all 200ms linear;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.1);
}

header img {
	margin: 0 1%;
	width: 3%;
	padding: 1%;
}

header img:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

header span {
	display: inline-block;
	margin-right: 10px;
}

header span:nth-child(even) {
	margin-right: 20px;
}

header span:nth-child(odd) {
	font-weight: bold;
}

header #atributos-jogador {
	display: inline-block;
	margin-left: 5%;
	white-space: nowrap;
}

#tela-jogo, header, #upgrades-jogo, #xp-jogo {
	display: flex;
	align-items: center;
}

/*--- main ---*/

main {
	min-height: 100%;
	z-index: 1;
}

main h2 {
	margin-top: 0;
}

#tela-jogo, #itens-jogo, #upgrades-jogo, #xp-jogo {
	border: 3px solid gray;
	box-sizing: border-box;
}

#tela-jogo {
	background-color: gray;
	height: 65vh;
	overflow: hidden;
}

#tela-jogo, #upgrades-jogo {
	width: 70%;
}

#tela-jogo #cenario-container {
	max-height: 100%;
	position: relative;
	min-width: 100%;
	margin: 0 auto;
}

#cenario-container #img-cenario {
	width: 100%;
	height: 100%;
	image-rendering: pixelated;
}

#xp-jogo {
	height: 10vh;
	background-color: rgb(241, 78, 78);
	color: white;
	box-shadow: inset 0px 3px 5px rgb(159, 22, 22);
}

#xp-jogo > h2 {
	text-shadow: 2px 2px 3px rgb(140, 29, 29);
	margin: 0 2% 0 5%;
}

#xp-jogo #container-xp {
	height: 60%;
	width: 80%;
	border: 3px solid lightgray;
	border-radius: 0.2em;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.2);
}

#xp-jogo #barra-xp {
	height: 100%;
	width: 0;
	box-sizing: border-box;
	background-color: white;
	transition: width 50ms linear;
}

#jogador-xp, #jogador-limite-xp {
	width: fit-content;
	margin: 3%;
	text-align: center;
}

.span-xp {
	position: absolute;
	color: white;
	z-index: 2;
	pointer-events: none;
	font-family: 'Oxygen', cursive;
	text-shadow: 2px 0 3px black, -2px 0 3px black,
							 0 1px 3px black, 0 -1px 3px black;
}

#upgrades-jogo {
	height: 10vh;
	background-color: rgb(96, 96, 96);
	box-shadow: inset 0px 3px 5px black;
	color: white;
	padding: 1%;
	overflow-x: auto;
}

#upgrades-jogo > h2, #xp-jogo > h2 {
	font-size: 2vw;
}

#upgrades-jogo > h2 {
	margin: 0 2%;
	text-shadow: 2px 2px 3px black;
}

#upgrades-container {
	height: 100%;
	display: flex;
	align-items: center;
	margin: 0 5%;
}

.upgrade {
	max-width: 6vh;
	display: inline-block;
	margin: 0 10%;
	padding: 5%;
}

#descricao-upgrade {
	display: none;
	position: absolute;
	border: 2px solid silver;
	box-shadow: inset 0px 0px 20px silver;
	background-color: white;
	padding: 1%;
	z-index: 2;
	max-width: 20%;
}

#descricao-upgrade > h2 {
	font-size: 2vw;
}

#descricao-upgrade > p, .preco-upgrade {
	font-size: 1.5vw;
}

.preco-upgrade {
	float: right;
	color: rgb(18, 159, 36);
}

#itens-jogo {
	width: 30%;
	height: 85vh;
	float: right;
	padding: 1%;
	position: relative;
	box-shadow: inset 0px 3px 5px silver;
	overflow: hidden;
}

#itens-jogo section {
	overflow: auto;
	height: 40%;
}

#itens-jogo section h3 {
	margin: 2% 0;
}

#itens-jogo section button {
	color: white;
	padding: 4%;
	background-color: rgb(0, 210, 46);
	border: none;
	transition: all 100ms linear;
}

#itens-jogo section button:hover {
	color: rgb(48, 214, 85);
	background-color: white;
	cursor: pointer;
}

#itens-jogo section button:active {
	background-color: rgb(41, 148, 27);
}

#itens-jogo #loja {
	background-color: rgb(245, 222, 67);
}

#itens-jogo #pertences {
	background-color: rgb(98, 230, 95);
}

#itens-jogo > h2 {
	text-align: center;
	margin: 1%;
	text-shadow: 3px 3px 3px lightgray;
	font-size: 2vw;
}

.sem-itens {
	text-align: center;
	color: red;
	line-height: 10;
}

.item {
	padding: 5%;
	margin: 3%;
	background-color: rgba(0, 0, 0, 0.1);
}

.item img {
	max-width: 25%;
}

.item button, .item span {
	float: right;
	clear: right;
}

.item span {
	padding: 2% 0;
}

/*--- fichas ---*/

.ficha {
	background-color: white;
	width: 50%;
	padding: 4%;
}

.ficha h2 {
	text-align: center;
}

.ficha p {
	text-align: justify;
	font-size: 2vw;
}

.ficha button {
	display: block;
	margin: 0 auto;
	background-color: transparent;
	border: 1px solid lightgray;
	font-weight: bold;
	font-family: inherit;
	box-shadow: 1px 1px 3px lightgrey;
	padding: 2% 5%;
	text-align: center;
	cursor: pointer;
}

/*--- footer ---*/

footer {
	background-image: radial-gradient(rgb(77, 111, 231), 85%, rgb(3, 41, 175));
	color: white;
	padding: 1%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
}

footer #apl-logo {
	max-width: 12%;
}

footer > h2 {
	margin: 0 2%;
}

/*>>> Barra de rolagem, Keyframes e Media Queries <<<*/

::-webkit-scrollbar {
	background: #f2f2f2;
  width: 0.5vw;
}

::-webkit-scrollbar-thumb {
	background-color: gray;
}

::selection {
	background-color: rgba(0, 0, 0, 0.2); /* como não há fundos pretos... */
}

@keyframes flutuando {
	from {
		transform: scale(1);
		box-shadow: -5px 2px 5px rgb(145, 101, 16);
	}
	to {
		transform: scale(1.05);
		box-shadow: -5px 2px 25px rgb(145, 101, 16);
	}
}

@media screen and (orientation: portrait) {

	/* #menu-criacao-conta (mudanças no layout) */

	#escolha-genero {
		display: initial;
	}

	#escolha-genero section {
		display: inline-block;
		margin: 4%;
	}

	#escolha-genero section:nth-child(even) {
		float: right;
	}

	#escolha-genero section:nth-child(odd) {
		float: left;
	}

	#botao-iniciar-jogo, #escolha-genero section:nth-child(odd) {
		clear: both;
	}

	/* #upgrades-jogo */

	#upgrades-jogo::-webkit-scrollbar {
		height: 0; /* faz com que a barra de rolagem não seja visível */
	}

}

@media only screen and (max-aspect-ratio: 5/8) {

	/* #menu-lateral */

	div#menu-lateral {
		width: 80vw;
		left: -80vw;
		text-align: center;
	}

	#menu-lateral > h2 {
		font-size: 10vw;
		margin-top: 30vh;
	}

	#menu-lateral #lista-opcoes li {
		font-size: 7vw;
		padding: 5% 0;

	}

	body.menu-lateral-ativo #conteudo {
		left: 80vw;
	}

	#escolha-genero {
		display: initial;
	}

	#escolha-genero section {
		display: block;
		margin: 4% auto;
		text-align: center;
	}

	#menu-criacao-conta #escolha-genero section {
		float: none;
	}

}
