/* A Person's Life
 * Trabalho de Web – INF-1A – CEFET-MG
 */

#tela-jogo img {
  image-rendering: pixelated;
}

#tela-jogo img:not(#img-cenario) {
  position: absolute;
}

#jogador-imagem {
  width: 20%;
  bottom: 0;
  left: 35%;
  z-index: 1;
}

#jogador-imagem:hover {
  cursor: pointer;
}

#cenario-container img:not(#jogador-imagem):not(#img-cenario) {
  top: 0;
  min-width: 100%;
  max-height: 100%;
  opacity: 0;
  pointer-events: none;
}

/* Para que a imagem se ajuste ao tamanho da tela, foi necessário uma media-querie */
@media only screen and (min-aspect-ratio: 16/9) {

  #tela-jogo #cenario-container {
    height: 100%;
    min-width: auto;
  }

  #tela-jogo #img-cenario {
    width: auto;
    max-width: 100%;
    height: 100%;
  }

}
